/*LOCAL USER DASHBOARD*/

.localTitle{
  width:100%;
  margin:auto;
  padding-bottom: 25px;
}

.container1{
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  background: transparent;
  border-radius: 50px;
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.localUser{
  display: inline-block;
  vertical-align:text-top;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
}
.localUser h1{font-size: 30px;}
.localUser p{font-size: 20px;}

.localUserNum {
  display: inline-block; 
  vertical-align:text-top;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
}
.localUserNum h1{font-size: 30px;}
.localUserNum p{font-size: 50px;}

.localUserVisits {
  display: inline-block; 
  vertical-align:text-top;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
}
.localUserVisits h1{font-size: 30px;}
.localUserVisits p{font-size: 50px;}

/*GLOBAL USER DASHBOARD*/

.globalTitle{
  width:100%;
  margin:auto;
  padding-top: 35px;
  padding-bottom: 25px;
}

.container2{
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.globalUser{
  display: inline-block;
  vertical-align:text-top;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
}
.globalUser h1{font-size: 30px;}
.globalUser p{font-size: 20px;}

.globalUserNum {
  display: inline-block; 
  vertical-align:text-top;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
}
.globalUserNum h1{font-size: 30px;}
.globalUserNum p{font-size: 50px;}

.globalUserVisits {
  display: inline-block; 
  vertical-align:text-top;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
}
.globalUserVisits h1{font-size: 30px;}
.globalUserVisits p{font-size: 50px;}