/* JEREMY */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation styles */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh; /*fallback*/
  min-height: calc(var(--vh, 1vh) * 8);
}

.leftSide a {
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
  color: white;
}

@media (hover: hover) {
  .leftSide a {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
}
.rightSide a {
  text-decoration: none;
  color: white;
}

.rightSide a:hover {
  background-color: #c24d2c;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 16px;
  text-align: center;
  margin: 4px;
  transition: 0.3s;
}

.leftSide {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
}

.rightSide {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  list-style: none;
}
/* Navigation end*/

/* Burger view*/
.burgerView {
  display: none;
  cursor: pointer;
}

.burgerView div {
  width: 25px;
  height: 2.5px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .whole {
    overflow-x: hidden;
  }
  .rightSide {
    position: absolute;
    right: 0px;
    height: 92vh; /*fallback*/
    height: calc(var(--vh, 1vh) * 92);
    top: 8vh;
    top: calc(var(--vh, 1vh) * 8);
    background-color: #141c26;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
  }
  .rightSide li {
    opacity: 0;
  }
  .burgerView {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transoform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .top {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .mid {
  opacity: 0;
}

.toggle .bottom {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* Burger view end*/

/* Moving container */
@keyframes rotation {
  from {
    transform: rotate(0deg);
    transform-origin: bottom;
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: relative;
  display: flex;
  margin: auto;
  /* margin-bottom: 300px; */
  justify-content: center;
  max-width: 800px;
  min-height: 600px;
  padding: 1em;

  background: transparent;
  border-radius: 50px;
  /* background: #1D232D; */
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.details {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* color: #5f4c6b; */
  color: #919191;
}

.details h1 {
  font-size: 80px;
  text-align: center;
}

.details p {
  color: #ffffff;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  text-align: justify;
}

#textAlignLeft {
  color: #ffffff;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  list-style-position: outside;
  text-align: justify;
}

.brSpace {
  display: block;
  margin-bottom: 3em;
}

.brSpaceUp {
  margin-top: 2em;
}

@media (hover: hover) {
  #container_trans0,
  #container_trans1 {
    perspective: 40px;
  }

  #inner0,
  #inner1 {
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    /*box-shadow: 2px 2px 25px gray;*/
    border-radius: 50px;
  }

  #container_trans0:hover .demo-overlay,
  #container_trans1:hover .demo-overlay {
    opacity: 1;
  }

  #container_trans0:hover,
  #container_trans1:hover {
    cursor: pointer;
  }
}
.demo-overlay {
  width: 25em;
  padding: 10em 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.4s;
}

.demo-overlay svg {
  display: block;
  margin: 0 auto;
  fill: white;
}
/* Moving container end*/
.roow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
}

/* card list */
.card-list {
  display: flex;
  justify-content: center;
  padding: 0px 3rem 300px 3rem;
}

.aboutUs {
  padding: 2rem 3rem 50px 3rem;
  display: flex;
  justify-content: start;
  font-size: 5em;
  min-width: 1300px;
  color: #919191;
}

.back {
  padding-top: 3rem;
  padding-bottom: 3rem;
  min-width: auto;
  transition: all 1s;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.card {
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #141c26;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
}

@media (hover: hover) {
  .card:focus-within ~ .card,
  .card:hover ~ .card {
    transform: translateX(130px);
  }

  .card:hover {
    transform: translateY(-1rem);
  }

  .card:not(:first-child) {
    margin-left: -130px;
  }

  .allAboutUs {
    background: transparent;
    border-radius: 50px;
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin-top: 200px;
    margin-bottom: 200px;
  }

  .card {
    box-shadow: -1rem 0 3rem #000;
  }
}
.card-header {
  margin-bottom: auto;
}

.card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.card-header h2 {
  font-size: 20px;
  margin: 0.25rem 0 auto;
  text-decoration: none;
  color: inherit;
  border: 0;
  display: inline-block;
  cursor: pointer;
}

.card-header h2:hover {
  background: linear-gradient(90deg, #38486f, #8c5166, #fd5e5a);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.card-author {
  margin: 3rem 0 0;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  position: relative;
}

.author-avatar {
  grid-area: auto;
  align-self: start;
  position: relative;
  box-sizing: border-box;
}

.author-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  margin: 16px 10px;
}

.author-name {
  grid-area: auto;
  box-sizing: border-box;
}

.author-name-prefix {
  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #c24d2c;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}

.tags {
  margin: 1rem 0 2rem;
  padding: 0.5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  font-size: 0.5rem;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: 0.66rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
  position: relative;
}

.tags a:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}

.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}
/* Card view end*/

/* Enter URL*/
.inputUrl {
  border-radius: 15px 0px 0px 15px;
  padding: 15px;
  width: 500px;
  background-color: white;
  color: black;
  border-color: white;
  border: none;
  outline: none;
}

.submitUrl {
  border-radius: 0px 15px 15px 0px;
  padding: 15px 20px 15px 20px;
  background-color: #c24d2c;
  color: white;
  font-weight: 500;
  border-color: white;
  border: none;
  outline: none;
}

.bothURL {
  display: flex;
  word-spacing: 0%;
}

.enterUrl {
  padding-top: 70px;
  margin: 50px 500px 50px 500px;
}

.content-section {
  background: transparent;
  border-radius: 50px;
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  padding: 50px 10px 50px 10px;
  border-radius: 50px;
}

.loginStyle {
  font-size: 50px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #919191;
}

.registerStyle {
  font-size: 50px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #919191;
}
/* Enter URL end*/

.graphs {
  display: flex;
  justify-content: space-around;
}
/* Wrong credential alerts*/
.alert {
  height: 5vh; /*fallback*/
  height: calc(var(--vh, 1vh) * 5);
  margin: 20px 500px 20px 500px;
  border-radius: 50px;
}
/* Wrong credential alerts end*/

/* Mobile view*/
/*Revert card to original to style*/
@media only screen and (max-width: 768px) {
  .card-list {
    all: revert;
  }
}

@media screen and (max-width: 768px) {
  .details {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #5f4c6b;
    max-width: 300px;
  }
  .details p {
    padding: 5px;
  }
  .details h1 {
    font-size: 55px;
    margin-top: 5px;
    color: #919191;
  }
  .enterUrl {
    max-width: 300px;
  }
  .bothURL {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    word-spacing: 0%;
  }
  .inputUrl,
  .submitUrl {
    border-radius: 15px;
    margin: 5px;
  }
  .allAboutUs {
    max-width: 350px;
  }
  .aboutUs {
    font-size: 4em;
  }
  .card {
    height: auto;
    width: auto;
    margin-bottom: 50px;
    background: rgba(22, 29, 41, 0.9);
    border-radius: 50px;
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .logo {
    display: none;
  }
}

/* Mobile view end*/

/* slideshow css */
* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.mySlides {
  display: block;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
/*.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}*/

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* slideshow css End */

/*Tables*/
table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  border: 1px solid transparent;
}
th {
  font-weight: bold;
  font-size: 25px;
  background: #2e2e2e;
  color: #919191;
  text-align: center !important;
  padding: 16px !important;
}

td {
  background: #464646;
  padding: 12px !important;
}

#homeTable {
  margin-left: 1.3em;
}

.page {
  text-align: center;
}
