{% extends "layout.html" %}
{% block content %}
<div style="position:relative">
    <h1> Admin </h1><br>
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>User ID</th>
            <th>Admin</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.user_id }}</td>
            {% if currentUser.user_id==primaryAdmin %}
                {% if user.admin==True and user.user_id==primaryAdmin %}
                    <td>
                        True<br>Primary Admin
                    </td>
                {% elif user.admin==True and user.user_id!=primaryAdmin %}
                    <td>
                        True
                        <form action="{{ url_for('app.setAdmin', userID=current_user.user_id) }}" method="POST">
                            <button name="submit_button" value="{{ user.user_id }}">Remove Admin</button>
                        </form>
                    </td>
                {% else %}
                    <td>
                        False
                        <form action="{{ url_for('app.setAdmin', userID=current_user.user_id) }}" method="POST">
                            <button name="submit_button" value="{{ user.user_id }}">Set Admin</button>
                        </form>
                    </td>
                {% endif %}
            {% else %}
                {% if user.admin==True %}
                    <td>
                        True
                    </td>
                    {% else %}
                    <td>
                        False
                    </td>
                {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}