{% extends "layout.html" %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <link rel="stylesheet" href="cssgraph.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src = "https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <title>URL Shortener Analytics</title>
</head>

<!-- LOCAL USER DASHBOARD-->

<div class="container1" style = "justify-content: space-between; text-align: center;"> 
<h1>Hello, here's your data...</h1>
    <div class="localUser" style="display: inline-block; vertical-align:text-top"> 
        <h1>Top Webs</h1>
        <p id="top1"></p>
        <p id="top2"></p>        
        <p id="top3"></p>
    </div>
    <div class="localUserNum" style="display: inline-block; vertical-align:text-top">
        <h1>Total Webs Shortened</h1>
        <p>{{ lenCurDict }}</p>
    </div>

    <div class="localUserVisits" style="display: inline-block; vertical-align:text-top">
        <h1>Total Web Visits</h1>
        <p>{{ sumCurDict }}</p>
    </div>
</div>

<div class = "graphs" style="width:100% ; margin:auto">
    <canvas id="local" width="720" height="480"></canvas> 
</div>


<!-- GLOBAL USER DASHBOARD-->

<div class = "container2" style = "justify-content: space-between; text-align: center;">
    <h1>... and here's the data for overall users</h1>
    <div class="GlobalUser" style= "display: inline-block; vertical-align:text-top">
        <h1>Top Webs</h1>
        <p id="top1g"></p>
        <p id="top2g"></p>        
        <p id="top3g"></p>
    </div>
    <div class="GlobalUserNum" style="display: inline-block; vertical-align:text-top">
        <h1>Total Webs Shortened</h1>
        <p>{{ lenDict }}</p>
    </div>
    <div class="GlobalUserVisits" style="display: inline-block; vertical-align:text-top">
        <h1>Total Web Visits</h1>
        <p>{{ sumDict }}</p>
    </div>
</div>

<div class="graphs" style="width:100% ; margin:auto"> 
     <canvas id="global" width="720" height="480"></canvas> 
</div>


<script>
    var linkDictJSON = {{ linkDict| tojson  }};
    var linkDictJS = JSON.parse(linkDictJSON);
    var globalData = [];
    var globalLabel = [];
    for(i = 0; i < Object.keys(linkDictJS).length; i++){
        globalLabel.push(Object.keys(linkDictJS)[i]);
        globalLabel[i] = globalLabel[i].charAt(0).toUpperCase() + globalLabel[i].substr(1);
        globalData.push(linkDictJS[Object.keys(linkDictJS)[i]]);
    }

    globalLabel.map( a => a.charAt(0).toUpperCase() + a.substr(1) );

    var currentLinkDictJSON = {{ currentLinkDict| tojson  }};
    var currentLinkDictJS = JSON.parse(currentLinkDictJSON);
    var currentData = [];
    var currentLabel = [];
    for(i = 0; i < Object.keys(currentLinkDictJS).length; i++){
        currentLabel.push(Object.keys(currentLinkDictJS)[i]);
        currentLabel[i] = currentLabel[i].charAt(0).toUpperCase() + currentLabel[i].substr(1);
        currentData.push(currentLinkDictJS[Object.keys(currentLinkDictJS)[i]]);
    }

    $(function () {
        //USER
        if (currentLabel.length == 0) {
            document.getElementById("top1").innerHTML = "NaN";
            document.getElementById("top2").innerHTML = "NaN";
            document.getElementById("top3").innerHTML = "NaN";            
        } 
        if (currentLabel.length == 1) {
            document.getElementById("top1").innerHTML = currentLabel[0];
            document.getElementById("top2").innerHTML = "NaN";
            document.getElementById("top3").innerHTML = "NaN";   
        } 
        if (currentLabel.length == 2) {
            document.getElementById("top1").innerHTML = currentLabel[0];
            document.getElementById("top2").innerHTML = currentLabel[1];
            document.getElementById("top3").innerHTML = "NaN";   
        } 
        else {
            document.getElementById("top1").innerHTML = currentLabel[0];
            document.getElementById("top2").innerHTML = currentLabel[1];
            document.getElementById("top3").innerHTML = currentLabel[2];   
        }

        // GLOBAL
        if (globalLabel.length == 0) {
            //  block of code to be executed if the condition is true
            document.getElementById("top1g").innerHTML = "NaN";
            document.getElementById("top2g").innerHTML = "NaN";
            document.getElementById("top3g").innerHTML = "NaN";            
        } 

        if (globalLabel.length == 1) {
            //  block of code to be executed if the condition is true
            document.getElementById("top1g").innerHTML = currentLabel[0];
            document.getElementById("top2g").innerHTML = "NaN";
            document.getElementById("top3g").innerHTML = "NaN";   
        } 

        if (globalLabel.length == 2) {
            //  block of code to be executed if the condition is true
            document.getElementById("top1g").innerHTML = globalLabel[0];
            document.getElementById("top2g").innerHTML = globalLabel[1];
            document.getElementById("top3g").innerHTML = "NaN";   
        } 
        
        else {
            //  block of code to be executed if the condition is false
            document.getElementById("top1g").innerHTML = globalLabel[0];
            document.getElementById("top2g").innerHTML = globalLabel[1];
            document.getElementById("top3g").innerHTML = globalLabel[2];   
        }

        var ctx = document.getElementById("local").getContext('2d');
        var data = {
            datasets:[{
                data:currentData,
                label: "Frequency of visits",
                backgroundColor: "rgba(255,99,132,0.2)",
                borderColor: "rgba(255,99,132,1)",
                borderWidth: 2,
                hoverBackgroundColor: "rgba(255,99,132,0.4)",
                hoverBorderColor: "rgba(255,99,132,1)",
            }],
            labels:currentLabel,
            };

    var mysingleChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: data,
        options: {
            responsive: false,
            maintainAspectRatio: false,
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 20,
                    bottom: 20
                }
            },
            title: {
                display:true,
                text: 'Your Top 5 Visited Websites',
                position: 'top',
                fontSize: 35,
            },
            legend: {
                position: 'bottom',
                labels: {
                    boxWidth: 12
                }
            },
            scales: {
                yAxes: [{
                        display: true,
                        maxBarThickness: 50,
                    }],
                xAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1
                        }
                    }]
            },
        }
    });

    var ctx_2 = document.getElementById("global").getContext('2d');
    var data_2 = {
        datasets:[{
            data:globalData,
            label: "Frequency of visits",
            backgroundColor: "rgba(255,99,132,0.2)",
            borderColor: "rgba(255,99,132,1)",
            borderWidth: 2,
            hoverBackgroundColor: "rgba(255,99,132,0.4)",
            hoverBorderColor: "rgba(255,99,132,1)",
        }],        
        labels:globalLabel,
    };

    var myglobalChart = new Chart(ctx_2, {
        type: 'horizontalBar',
        data: data_2,
        options: {
            title: {
                display:true,
                text: 'Top 5 Websites Visited by Users Worldwide',
                position: 'top',
                fontSize: 35,
            },
            responsive: false,
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 20,
                    bottom: 20
                }
            },
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                        display: true,
                        maxBarThickness: 50,

                    }],
                xAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1
                        }                        
                    }]
            },
            legend: {
                position: 'bottom',
                labels: {
                    boxWidth: 12
                }
            }
        }
    });
});
</script>
{% endblock content%}