{% extends "layout.html" %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src = "https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
</head>

<table style="width:100%">
    <tr>
      <th>Your Top Websites:</th>
      <th>Overall Links Shorted:</th>
      <th>Top 3 Country Origin of Users: (To be decided)</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
    </tr>
  </table>

<div class = "graphs" style="width:100% ; margin:auto">
    <canvas id="local" width="720" height="480"></canvas> 
</div>
    
<div class="graphs" style="width:100% ; margin:auto"> 
     <canvas id="global" width="720" height="480"></canvas> 
</div>


<script>
    var linkDictJSON = {{ linkDict| tojson  }};
    var linkDictJS = JSON.parse(linkDictJSON);
    var globalData = [];
    var globalLabel = [];
    for(i = 0; i < Object.keys(linkDictJS).length; i++){
        globalLabel.push(Object.keys(linkDictJS)[i]);
        globalData.push(linkDictJS[Object.keys(linkDictJS)[i]]);
    }

    var currentLinkDictJSON = {{ currentLinkDict| tojson  }};
    var currentLinkDictJS = JSON.parse(currentLinkDictJSON);
    var currentData = [];
    var currentLabel = [];
    for(i = 0; i < Object.keys(currentLinkDictJS).length; i++){
        currentLabel.push(Object.keys(currentLinkDictJS)[i]);
        currentData.push(currentLinkDictJS[Object.keys(currentLinkDictJS)[i]]);
    }

    $(function () {

        var ctx = document.getElementById("local").getContext('2d');
        var data = {
            datasets:[{
                data:currentData,
                label: "Frequency of visits",
                backgroundColor: "rgba(255,99,132,0.2)",
                borderColor: "rgba(255,99,132,1)",
                borderWidth: 2,
                hoverBackgroundColor: "rgba(255,99,132,0.4)",
                hoverBorderColor: "rgba(255,99,132,1)",
            }],
            labels:currentLabel,
            };

    var mysingleChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: data,
        options: {
            responsive: false,
            maintainAspectRatio: false,
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 20,
                    bottom: 20
                }
            },
            title: {
                display:true,
                text: 'Your Top 5 Visited Websites',
                position: 'top',
                fontSize: 35,
            },
            legend: {
                position: 'bottom',
                labels: {
                    boxWidth: 12
                }
            },
            scales: {
                yAxes: [{
                        display: true,
                        maxBarThickness: 50,

                    }],
                xAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                        }
                    }]
            },
        }
    });

    var ctx_2 = document.getElementById("global").getContext('2d');
    var data_2 = {
        datasets:[{
            data:globalData,
            label: "Frequency of visits",
            backgroundColor: "rgba(255,99,132,0.2)",
            borderColor: "rgba(255,99,132,1)",
            borderWidth: 2,
            hoverBackgroundColor: "rgba(255,99,132,0.4)",
            hoverBorderColor: "rgba(255,99,132,1)",
        }],        
        labels:globalLabel,
    };

    var myglobalChart = new Chart(ctx_2, {
        type: 'horizontalBar',
        data: data_2,
        options: {
            title: {
                display:true,
                text: 'Top 5 Websites Visited by Users Worldwide',
                position: 'top',
                fontSize: 35,
            },
            responsive: false,
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 20,
                    bottom: 20
                }
            },
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                        display: true,
                        maxBarThickness: 50,

                    }],
                xAxes: [{
                        display: true,
                    }]
            },
            legend: {
                position: 'bottom',
                labels: {
                    boxWidth: 12
                }
            }
        }
    });
});
</script>
{% endblock content%}