{% extends "layout.html" %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cssgraph.css')}}">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src = "https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

    <!-- jVectorMap-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="./src/js/lib/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="./src/js/lib/jquery-jvectormap-world-mill-en.js"></script>
    <title>URL Shortener Analytics</title>
</head>

<!-- LOCAL USER DASHBOARD-->

<div class="container1"> 
    <div class="localTitle"> 
        <h1>USER DATA</h1>
    </div>
    <div class="localEmpty"> 
        <p>No Link Added</p>
    </div>
    <div class="localUser"> 
        <h1>Top Visited<br>Webs</h1>
        <p id="top1"></p>
    </div>
    <div class="localUserNum">
        <h1>Total Webs<br>Added</h1>
        <p>{{ lenCurDict }}</p>
    </div>
    <div class="localUserVisits">
        <h1>Total Web<br>Visits</h1>
        <p>{{ sumCurDict }}</p>
    </div>
</div>

<div class= "visual" style="margin:auto; display:flex; width:100%">
    <div class = "graph1" style="width:50% ; margin:auto; min-width: 480px; min-height: 250px;display: none;">
        <canvas id="local" width="1000" height="1000"></canvas> 
    </div>
    <div class="countryCity" style="width:50%; margin:auto;">
        <h2>Location</h2>

        <table id="countryTable" style="width:100%">
            <tr  class="country-bg">
                <th>Top 5 Countries</th> 
                <th>Count</th>
            </tr>
            <tbody id="myCountryTable">
    
            </tbody>
    
        </table>

        <table id="cityTable" style="width:100%">
        <tr  class="city-bg">
            <th>Top 5 Cities</th> 
            <th>Count</th>
        </tr>
        <tbody id="myCityTable">

        </tbody>

        </table>
    </div>
</div>

<div id="world-map" style="margin:auto; display:flex; width: 100%; height: 400px" ></div>


<!-- GLOBAL USER DASHBOARD-->

<div class = "container2">
    <div class="GlobalTitle"> 
        <h1>OVERALL<br>DATA</h1>
    </div>
    <div class="localEmpty"> 
        <p>No Link Added</p>
    </div>
    <div class="GlobalUser">
        <h1>Top Visited<br>Webs</h1>
        <p id="top1g"></p>
    </div>
    <div class="GlobalUserNum">
        <h1>Total Webs<br>Added</h1>
        <p>{{ lenDict }}</p>
    </div>
    <div class="GlobalUserVisits">
        <h1>Total Web<br>Visits</h1>
        <p>{{ sumDict }}</p>
    </div>
</div>

<div class="graph2" style="width:80% ; margin:auto; min-width: 480px; min-height: 250px; display: none;"> 
     <canvas id="global" width="500" height="225"></canvas> 
</div>


<script>
    /*COUNTRY DICT*/
    var countryDict = {{ countryLinkDict| tojson  }};
    var countryDictJS = JSON.parse(countryDict);
    var countryData = [];
    var countryLabel = [];
    for(i = 0; i < Object.keys(countryDictJS).length; i++){
        countryLabel.push(Object.keys(countryDictJS)[i]);
        countryLabel[i] = countryLabel[i].charAt(0).toUpperCase() + countryLabel[i].substr(1);
        countryData.push(countryDictJS[Object.keys(countryDictJS)[i]]);
    }


    /*CITY DICT*/
    var cityDict = {{ cityLinkDict| tojson  }};
    var cityDictJS = JSON.parse(cityDict);
    var cityData = [];
    var cityLabel = [];
    for(i = 0; i < Object.keys(cityDictJS).length; i++){
        cityLabel.push(Object.keys(cityDictJS)[i]);
        cityLabel[i] = cityLabel[i].charAt(0).toUpperCase() + cityLabel[i].substr(1);
        cityData.push(cityDictJS[Object.keys(cityDictJS)[i]]);
    }

    /*MAKING CITY AND COUNTRY TABLE*/

    var countrytable = document.getElementById('myCountryTable')
    for (var i = 0; i < countryLabel.length; i++){
        var row = `<tr>
                        <td>${countryLabel[i]}</td>
                        <td>${countryData[i]}</td>
                  </tr>`
        countrytable.innerHTML += row
    }

    var citytable = document.getElementById('myCityTable')
    for (var i = 0; i < cityLabel.length; i++){
        var row = `<tr>
                        <td>${cityLabel[i]}</td>
                        <td>${cityData[i]}</td>
                  </tr>`
        citytable.innerHTML += row
    }

    /*MAP
    $('#world-map').vectorMap({
        map: 'world_mill'
   });   
   */
    /*DASHBOARD*/

    var linkDictJSON = {{ linkDict | tojson  }};
    var linkDictJS = JSON.parse(linkDictJSON);
    var globalData = [];
    var globalLabel = [];
    for(i = 0; i < Object.keys(linkDictJS).length; i++){
        globalLabel.push(Object.keys(linkDictJS)[i]);
        globalLabel[i] = globalLabel[i].charAt(0).toUpperCase() + globalLabel[i].substr(1);
        globalData.push(linkDictJS[Object.keys(linkDictJS)[i]]);
    }

    globalLabel.map( a => a.charAt(0).toUpperCase() + a.substr(1) );

    var currentLinkDictJSON = {{ currentLinkDict| tojson  }};
    var currentLinkDictJS = JSON.parse(currentLinkDictJSON);
    var currentData = [];
    var currentLabel = [];
    for(i = 0; i < Object.keys(currentLinkDictJS).length; i++){
        currentLabel.push(Object.keys(currentLinkDictJS)[i]);
        currentLabel[i] = currentLabel[i].charAt(0).toUpperCase() + currentLabel[i].substr(1);
        currentData.push(currentLinkDictJS[Object.keys(currentLinkDictJS)[i]]);
    }

    $(function () {
        //USER
        if (currentLabel.length == 0) {
            document.getElementsByClassName("localEmpty")[0].style.display = "inline-block";
        } 
        if (currentLabel.length == 1) {
            document.getElementsByClassName("localUser")[0].style.display = "inline-block";
            document.getElementsByClassName("localUserNum")[0].style.display = "inline-block";
            document.getElementsByClassName("localUserVisits")[0].style.display = "inline-block";
            document.getElementsByClassName("graph1")[0].style.display = "block";

            document.getElementById("top1").innerHTML = currentLabel[0];
        } 
        if (currentLabel.length == 2) {
            document.getElementsByClassName("localUser")[0].style.display = "inline-block";
            document.getElementsByClassName("localUserNum")[0].style.display = "inline-block";
            document.getElementsByClassName("localUserVisits")[0].style.display = "inline-block";
            document.getElementsByClassName("graph1")[0].style.display = "block";

            document.getElementById("top1").innerHTML = currentLabel[0];
            document.getElementById("top1").innerHTML += "<br>" + currentLabel[1];
   
        } 
        if (currentLabel.length > 2) {
            document.getElementsByClassName("localUser")[0].style.display = "inline-block";
            document.getElementsByClassName("localUserNum")[0].style.display = "inline-block";
            document.getElementsByClassName("localUserVisits")[0].style.display = "inline-block";
            document.getElementsByClassName("graph1")[0].style.display = "block";
            
            document.getElementById("top1").innerHTML = currentLabel[0];
            document.getElementById("top1").innerHTML += "<br>" + currentLabel[1];
            document.getElementById("top1").innerHTML += "<br>" + currentLabel[2]; 
        }

        // GLOBAL
        if (globalLabel.length == 0) {
            document.getElementsByClassName("globalEmpty")[0].style.display = "inline-block";      
        } 
        if (globalLabel.length == 1) {
            document.getElementsByClassName("globalUser")[0].style.display = "inline-block";
            document.getElementsByClassName("globalUserNum")[0].style.display = "inline-block";
            document.getElementsByClassName("globalUserVisits")[0].style.display = "inline-block";
            document.getElementsByClassName("graph2")[0].style.display = "block";

            document.getElementById("top1g").innerHTML = globalLabel[0];
        } 
        if (globalLabel.length == 2) {
            document.getElementsByClassName("globalUser")[0].style.display = "inline-block";
            document.getElementsByClassName("globalUserNum")[0].style.display = "inline-block";
            document.getElementsByClassName("globalUserVisits")[0].style.display = "inline-block";
            document.getElementsByClassName("graph2")[0].style.display = "block";
            
            document.getElementById("top1g").innerHTML = globalLabel[0];
            document.getElementById("top1g").innerHTML += "<br>" + globalLabel[1];
   
        } 
        if (globalLabel.length > 2) {
            document.getElementsByClassName("globalUser")[0].style.display = "inline-block";
            document.getElementsByClassName("globalUserNum")[0].style.display = "inline-block";
            document.getElementsByClassName("globalUserVisits")[0].style.display = "inline-block";
            document.getElementsByClassName("graph2")[0].style.display = "block";

            document.getElementById("top1g").innerHTML = globalLabel[0];
            document.getElementById("top1g").innerHTML += "<br>" + globalLabel[1];
            document.getElementById("top1g").innerHTML += "<br>" + globalLabel[2]; 
        }

        var ctx = document.getElementById("local").getContext('2d');
        var data = {
            datasets:[{
                data:currentData,
                label: "Number of visits",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                borderColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                borderWidth: 2,
                hoverBackgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                hoverBorderColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
            }],
            labels:currentLabel,
            };

    var mysingleChart = new Chart(ctx, {
        type: 'pie',
        data: data, 
        options: {
            responsive: true,
            maintainAspectRatio: true,
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 20,
                    bottom: 20
                }
            },
            title: {
                display:true,
                text: 'Your Top 5 Websites',
                position: 'top',
                fontSize: 25,
                fontColor: 'rgba(255,255,255)',
            },
        }
    });

    /*
    var ctx_2 = document.getElementById("global").getContext('2d');
    var data_2 = {
        datasets:[{
            data:globalData,
            label: "Number of visits",
            backgroundColor: "rgba(194,77,44,0.2)",
            borderColor: "rgba(194,77,44,1)",
            borderWidth: 2,
            hoverBackgroundColor: "rgba(194,77,44,0.4)",
            hoverBorderColor: "rgba(194,77,44,1)",
        }],        
        labels:globalLabel,
    };

    var myglobalChart = new Chart(ctx_2, {
        type: 'horizontalBar',
        data: data_2,
        options: {
            responsive: true,
            maintainAspectRatio: true,
            title: {
                display:true,
                text: 'Top 5 Overall User Websites',
                fontColor: 'rgb(255, 255, 255)',
                position: 'top',
                fontSize: 25,
            },
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 20,
                    bottom: 20
                }
            },

            scales: {
                yAxes: [{
                        display: true,
                        maxBarThickness: 40,
                        ticks: {
                            fontColor: 'rgba(255,255,255)',
                            fontSize: 15,
                        },
                        gridLines: {
                            zeroLineColor: 'rgba(255,255,255, 0.5)',
                            lineWidth: 1
                        }
                    }],
                xAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            fontColor: 'rgba(255,255,255)',
                            fontSize: 15,
                        },
                        gridLines: {
                            zeroLineColor: 'rgba(255,255,255, 0.5)',
                            color: 'rgba(255,255,255, 0.5)',
                            lineWidth: 1
                        }                      
                    }]
            },
            legend: {
                position: 'bottom',
                labels: {
                    boxWidth: 30,
                    fontSize: 15,
                    fontColor: 'rgb(255, 255, 255)'
                }
            },
        }
    });
    */
});
</script>
{% endblock content%}