{% extends "layout.html" %}
{% block content %}
<!--space btw nav and web deets-->
<!-- <span class="brSpace"></span> -->

<div class="container" id= "container_trans" >
    <div class="details" id="inner">
        <h1>Webpage details</h1>
        <br>
        <p>
            The Moon is a barren, rocky world without air and water. It has dark lava plain on its surface. The Moon is filled wit craters. It has no light of its own. It gets its light from the Sun. The Moo keeps changing its shape as it moves round the Earth. It spins on its axis in 27.3 days stars were named after the Edwin Aldrin were the first ones to set their foot on the Moon on 21 July 1969 They reached the Moon in their space craft named Apollo II
        </p>
    </div>
</div>

{% if current_user.is_authenticated %}
  <div style="position:relative" class="enterUrl">
    <form method='POST' action="{{ url_for('app.add_link') }}" class="bothUrl">
        <input type="text" name="original_url" class="inputUrl" placeholder="Please enter URL here">
        <input type="submit"class="submitUrl" value="Shorten URL">
    </form>
  </div>
{% endif %}

<!-- about us section -->
<!-- <span class="brSpace"><h1 style="color: transparent;"> - </h1></span> -->
<div class="allAboutUs">
  <div class="back hide" id= "scrollAppear">
    <h1 class="aboutUs">About Us</h1>
    <section class="card-list">  
        <article class="card">
          <header class="card-header">
            <p>MEng Mechanical Engineering</p>
            <h2>{"Tag line here"}</h2>
          </header>

          <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="avatar.png" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>

            <div class="author-name">
              <div class="author-name-prefix">Project Lead</div>
              Chow Kai Jie
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">python</a>
            <!-- <a href="#">web-dev</a> -->
          </div>
        </article>



        <article class="card">
          <header class="card-header">
            <p>MEng Mechanical Engineering</p>
            <h2>{"Tag line here"}</h2>
          </header>

          <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="https://api.adorable.io/avatars/172/a.png" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>

            <div class="author-name">
              <div class="author-name-prefix">Data Analytics</div>
              Wo Yew Ben
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">python</a>
          </div>
        </article>

        <article class="card">
          <header class="card-header">
            <p>MEng Mechanical Engineering</p>
            <h2>{"Tag line here"}</h2>
          </header>

          <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="https://api.adorable.io/avatars/172/b.png" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>

            <div class="author-name">
              <div class="author-name-prefix">Backend Designer</div>
              Daniel Goh
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">Python</a>
          </div>
        </article>

        <article class="card">
          <header class="card-header">
            <p>MEng Mechanical Engineering</p>
            <h2>{"Tag line here"}</h2>
          </header>

          <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="https://api.adorable.io/avatars/172/c.png" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>

            <div class="author-name">
              <div class="author-name-prefix">Frontend Designer</div>
              Jeremy Lee
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">css</a>
          </div>
        </article>
    </section>
  </div>
</div>

<span class="brSpace"><h1 style="color: transparent;"> - </h1></span>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>

<script>
    // ease in transition
    const glass= document.getElementById("container_trans");

    const tl= gsap.timeline({defaults: {ease: "power2.inOut", duration: 1.5}})
    tl.from('.container' , {opacity:0, delay: .5, duration:1}, "-=1.5")
    tl.from('.container', {x: '-20%', backdropFilter: 'blur(0px)'});
    tl.from('nav' , {opacity: 0, delay: 0, duration:1}, "-=1.5")
    tl.from('.details' , {opacity: 0, delay: 1.2, duration:1}, "-=1.5")

</script>
{% endblock content%}