{% extends "layout.html" %}
{% block content %}
<!--space btw nav and web deets-->
<!-- <span class="brSpace"></span> -->
<div class="slideshow-container">

  <div class="mySlides">
    <div class="container" id= "container_trans0" >
        <div class="details" id="inner0">
            <h1>Webpage details</h1>
            <br>
            <p>
              Heroku WebPage: <b style="color:aquamarine">https://spshurl.herokuapp.com/</b> <br>
              A standard URL shortener webpage with additional GUI extensions for better and more convenient usage. <br>
              To gain access, user(s) should first create an account via the website's registration page.
              <table>
                <tr>
                  <th>Page</th>
                  <th>About</th>
                </tr>
                <tr>
                  <th>Home</th>
                  <th>URL shortening input & Authors' backgrounds</th>
                </tr>
                <tr>
                  <th>List</th>
                  <th>Table list of all individual shortened URL(s)</th>
                </tr>
                <tr>
                  <th>Graph</th>
                  <th>Statistical overview on URL(s) usage from both local and global perspective</th>
                </tr>
                <tr>
                  <th>URL (more info)</th>
                  <th>Details and QR display of a specific URL</th>
                </tr>
                <tr>
                  <th>Admin</th>
                  <th>Table list of all registered individuals</th>
                </tr>
              </table>
            </p>
        </div>
    </div>
  </div>

  <div class="mySlides">
    <div class="container" id= "container_trans1" >
        <div class="details" id="inner1">
            <h1>API</h1>
            <br>
            <p>
              Provides a simpler means of adding or inspecting related contents on a given URL.
              <br>
              <div id="textAlignLeft">
                How it works:<br><br>
                <ol>
                  <li>Must first have a registered account at the hosted webpage.</li>
                  <li>Set up a BASE_URL variable that links to "https://spshurl.herokuapp.com/".</li>
                  <li>Obtain individual specific userID in JSON format via request method as given in the example below:<br>
                  <b style="color:aquamarine">request.post(BASE + "login/" + "{username}/" + "{password}")</b></li>
                  <li>Run another post request to either add or obtain information related to a given URL:<br>
                  <b style="color:aquamarine">request.post(BASE + "details/" + "{userID}/" + "{URL}")</b><br>which should return a JSON serialised dictionary with all relevant details.</li>
                </ol>
              </div>
            </p>
        </div>
    </div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

{% if current_user.is_authenticated %}
  <div style="position:relative" class="enterUrl">
    <form method='POST' action="{{ url_for('app.add_link') }}" class="bothUrl">
        <input type="text" name="original_url" class="inputUrl" placeholder="Please enter URL here">
        <input type="submit"class="submitUrl" value="Shorten URL">
    </form>
  </div>
{% endif %}

<!-- about us section -->
<!-- <span class="brSpace"><h1 style="color: transparent;"> - </h1></span> -->
<div class="allAboutUs">
  <div class="back hide" id= "scrollAppear">
    <h1 class="aboutUs">About Us</h1>
    <section class="card-list">  
        <article class="card">
          <header class="card-header">
            <p>MEng Mechanical Engineering</p>
            <h2>{"Tag line here"}</h2>
          </header>

          <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="static/profilePics/KJLinkedIn3.jpeg" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>

            <div class="author-name">
              <div class="author-name-prefix">Project Lead</div>
              Kai Jie Chow
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">python</a>
            <!-- <a href="#">web-dev</a> -->
          </div>
        </article>



        <article class="card">
          <header class="card-header">
            <p>MEng Mechanical Engineering</p>
            <h2>{"Tag line here"}</h2>
          </header>

          <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="static/profilePics/Handsomer_Ben.jpg" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>

            <div class="author-name">
              <div class="author-name-prefix">Data Analytics</div>
              Wo Yew Ben
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">python</a>
          </div>
        </article>

        <article class="card">
          <header class="card-header">
            <p>MEng Mechanical Engineering</p>
            <h2>{"Tag line here"}</h2>
          </header>

          <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="static/profilePics/danieel.jpg" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>

            <div class="author-name">
              <div class="author-name-prefix">Backend Designer</div>
              Daniel Goh
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">Python</a>
          </div>
        </article>

        <article class="card">
          <header class="card-header">
            <p>MEng Mechanical Engineering</p>
            <h2>{"Tag line here"}</h2>
          </header>

          <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="static/profilePics/hs.jpg" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>

            <div class="author-name">
              <div class="author-name-prefix">Frontend Designer</div>
              Jeremy Lee
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">css</a>
          </div>
        </article>
    </section>
  </div>
</div>

<span class="brSpace"><h1 style="color: transparent;"> - </h1></span>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>

<script>
  // ease in transition
  const glass= document.getElementById("container_trans");

  const tl= gsap.timeline({defaults: {ease: "power2.inOut", duration: 1.5}})
  tl.from('.container' , {opacity:0, delay: .5, duration:1}, "-=1.5")
  tl.from('.container', {x: '-20%', backdropFilter: 'blur(0px)'});
  tl.from('nav' , {opacity: 0, delay: 0, duration:1}, "-=1.5")
  tl.from('.details' , {opacity: 0, delay: 1.2, duration:1}, "-=1.5")


  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    if (n > slides.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
    }
    slides[slideIndex-1].style.display = "block";  
  }
</script>
{% endblock content%}