{% extends "layout.html" %}
{% block content %}
<div style="position:relative">
    {% set count = namespace(value = 0) %}
    {% for link in links %}
        {% set my_string = current_user.user_id ~ count.value ~ '' %}
        <b style="color:white; font-weight: normal">Title:</b> <b id="{{ my_string }}" value="{{ link.original_url }}" style="color:white; font-weight: normal"></b>
        <br>
        <b style="color:white; font-weight: normal">Short URL:</b> <a href="{{ url_for('app.redirect_to_url', short_url=link.short_url, _external = True) }}">{{ url_for('app.redirect_to_url', short_url=link.short_url, _external = True) }}</a>

        <br>
        <b style="color:white; font-weight: normal">Visits: {{ link.visits }}</b>
        <br>
        <a href="{{ url_for('app.link_page', short = link.short_url) }}">more info</a>
        <br>
        <br>
        {% set count.value = count.value + 1 %}
    {% endfor %}
</div>
<script>
    function getTitle(externalUrl, id){
    var ans;
    $.ajax({
        url: "http://textance.herokuapp.com/title/" + encodeURIComponent(externalUrl),
        complete: function(data) {
            document.getElementById(id).innerHTML = data.responseText;
            console.log(data.responseText);
        }
    });
    console.log(ans);
    return ans;
    };

    var count = parseInt("{{ count.value }}");
    var userID = "{{ current_user.user_id }}";
    for(i = 0; i < count; i++){
        var id = userID+i;
        var url = document.getElementById(id).getAttribute("value");
        getTitle(url, id);
    }
</script>
{% endblock content%}