{% extends "layout.html" %}
{% block content %}
<div style="position:relative">
    {% for link in links %}
    <b style="color:white; font-weight: normal">Original URL:</b> <a href='{{ link.original_url }}'>{{ link.original_url }}</a>
    <br>
    <b style="color:white; font-weight: normal">Short URL:</b> <a href="{{ url_for('app.redirect_to_url', short_url=link.short_url, _external = True) }}">{{ url_for('app.redirect_to_url', short_url=link.short_url, _external = True) }}</a>

    <br>
    <b style="color:white; font-weight: normal">Visits: {{ link.visits }}</b>
    <br>
    <a href="{{ url_for('app.link_page', short = link.short_url) }}">more info</a>
    <br>
    <br>
    {% endfor %}
</div>
{% endblock content%}